name: Move Issue on Branch Link

on:
  create:
    branches:
      - "*"

jobs:
  move-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Extract issue number from branch name
        id: extract
        run: |
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          ISSUE_NUMBER=$(echo $BRANCH_NAME | grep -o '[0-9]\+')
          echo "ISSUE_NUMBER=$ISSUE_NUMBER" >> $GITHUB_ENV

      - name: Move issue to In Progress
        uses: alex-page/github-project-automation-plus@v0.9.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          project: "unitide"
          column: "In Progress"
          issue-number: ${{ env.ISSUE_NUMBER }}
